<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body class ="wholeHOME">
  <img class="laTienditaLOGO" src="./assets/StoreLogo_Black.png">
  <br>
    <ul>
      <li class="nav-item">
        <a class = "active" class="nav-link" class = "fa fa-home" routerLink="">  Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class = "fa fa-bar-chart" routerLink="/StatsPage">  Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class = "fa fa-shopping-cart" routerLink="/Checkout">  My Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class = "fa fa-user-secret" routerLink="/Cats">  Secret</a>
      </li>
    </ul>

<router-outlet></router-outlet> 
</body>
</html>