<!DOCTYPE html>
<body>
  <img class="Bryant_Sucks_Balls" src="./assets/StoreLogo_Black.png">
  <br>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/StatsPage">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Checkout">Make a purchase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cats">Secret</a>
      </li>
    </ul>

<router-outlet></router-outlet> 

</body>