<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body class ="wholeHOME">
  <img class="laTienditaLOGO" src="./assets/StoreLogo_Black.png">
  <br>
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/StatsPage">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Checkout">Make a purchase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Cats">Secret</a>
      </li>
    </ul>

<router-outlet></router-outlet> 
</body>
</html>