<!DOCTYPE html>
<body class = "purchasePAGEBody">
<label >Filter by:</label>
<label class="container"><br>
  <input type="checkbox" [checked]="clothing" (change) = "clothing = !clothing">Clothing
  <span class="checkmark"></span>
</label>
<label class="container"><br>
  <input type="checkbox" [checked]="electronics" (change) = "electronics = !electronics">Electronics
  <span class="checkmark"></span>
</label>
<label class="container"><br>
  <input type="checkbox" [checked]="groceries" (change) = "groceries = !groceries">Groceries
  <span class="checkmark"></span>
</label>
<label class="container"><br>
  <input type="checkbox" [checked]="toys" (change) = "toys = !toys">Toys
  <span class="checkmark"></span>
</label>
<label class="container"><br>
  <input type="checkbox" [checked]="hygiene" (change) = "hygiene = !hygiene">Hygiene
  <span class="checkmark"></span>
</label>
<label class="container"><br>
  <input type="checkbox" [checked]="kitchen" (change) = "kitchen = !kitchen">Kitchen
  <span class="checkmark"></span>
</label>


<br>
    <label>Sort value:</label>
    <select [(ngModel)]="rating">
        <option value="high to low">High to Low</option> <!--default value-->
        <option value="low to high">Low to High</option>
    </select>
<br>

<br>
    <label>Sort by:</label>
    <select [(ngModel)]="filter">
        <option value="rating">Rating</option> <!--default value-->
        <option value="price">Price</option>
    </select>
<br>

<br>
    <label>Showing {{numResults}} Results.</label>
    <select [(ngModel)]="numResults">
        <option value=10>10</option> <!--default value-->
        <option value=30>30</option>
        <option value=50>50</option>
    </select>
<br>

<label>Show items priced under:</label>
<input min="1" max="1000" type="number" name="maxPrice" [(ngModel)]="maxPrice">
<br>
<button (click)="ProductFilter()">Apply Filter</button>

<br>
<br>
<div *ngFor = "let product of filterArray">
  <div class = "card">
    <h1>{{product.name}}</h1>
    <p class="price">Price: {{product.price}}</p>
    <button class = "addToCartbutton">Add To Cart</button>
    <br>
    <br>
  </div>
  <br>
</div>

</body>