<p>statistics works!</p>
<p>
    showing stat info
</p>

<ul class="checkbox-items">
    <li *ngFor="let item of checkboxesDataList">
      <input type="checkbox" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
    </li>
  </ul>
<!-- <ul>
    <li *ngFor = "let product of this.techProducts">{{product.name}}</li>
</ul>

<ul class="checkbox-items">
    <li *ngFor="let item of checkboxDataList">
      <input type="checkbox" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.label}}
    </li>
  </ul> -->
